header 
{
	width:100%; /* Establecemos que el header abarque el 100% del documento */
	overflow:hidden; /* Eliminamos errores de float */
	background:#252932;
	margin-bottom:20px;
	height: 100px;
}

.wrapper 
{
	width:90%; /* Establecemos que el ancho sera del 90% */
	max-width:1000px; /* Aqui le decimos que el ancho máximo sera de 1000px */
	margin:auto; /* Centramos los elementos */
	overflow:hidden; /* Eliminamos errores de float */
}

.contenedor
{
	width:90%;
	margin:0 auto;
	overflow: hidden;
}

header .logo 
{
	color:#f2f2f2;
	font-size:50px;
	line-height:80px;
	float:left;
}

header nav 
{
	float:right;
	line-height:100px;
}

header nav a 
{
	display:inline-block;
	color:#fff;
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:18px;
	font-weight:bold;
}

header nav a:hover 
{
	background:#4CAF50;
	border-radius:50px;
}




@media screen and (max-width: 730px)
{
	header {
	margin-bottom:0px;
	height: 30%;
	}
	.contenedor {
	width:100%;
	}
	header .logo{
	display: none;
	}
	header nav{
	text-align: center;
	display:compact;
	color:#fff;
	text-decoration:none;
	padding:1px 2px;
	line-height:3px;
	font-size:15px;
	}
}
